.banner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-image: url('../icons/Banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
    gap: 1em;
    padding: 5em 8em;
    width: 100vw;
    height: 54vh;
    line-height: 6em;
}

.banner h1 {
    font-size: 4.4em;
    color: #FFFFFF;
}

.banner h2 {
    font-size: 3.2em;
    color: #FFFFFF;
}

.bannerBtn {
    border: none;
    background-color: #F71963;
    width: 227px;
    height: 60px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
}

.bannerBtn:hover {
    cursor: pointer;
}