.categorias {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    text-align: center;
}

.categorias img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #F4F4F4;
    width: 61px;
    height: 61px;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 1em;
}

.categorias img {
    cursor: pointer;
}

.corDestaque {
    color: #F71963;
}